extends layouts/default
include helpers/mixins

block variables
	- const title = "Welcome"

block content
	a(href="main.html") Главная
block scripts
	script(src="../js/main.js")
	script(src="../js/vendor.js")