footer.footer
  .container
    .footer__top
      .footer__service-list-wrap
        h4.footer__list-title Услуги автосервиса
        ul.footer__list
          li.footer__item
            a.footer__link(href="#") Диагностика автомобиля
          li.footer__item
            a.footer__link(href="#") Ремонт
          li.footer__item
            a.footer__link(href="#") Техническое обслуживание
          li.footer__item
            a.footer__link(href="#") Шиномонтаж
      .footer__sites-links-wrap
        h4.footer__list-title Разделы сайта
        .footer__list-inner
          ul.footer__list
            li.footer__item
              a.footer__link(href="#") Интернет-магазин
            li.footer__item
              a.footer__link(href="#") Услуги и цены
            li.footer__item
              a.footer__link(href="#") Запись в сервис
          ul.footer__list
            li.footer__item
              a.footer__link(href="#") О компании
            li.footer__item
              a.footer__link(href="#") Акции
            li.footer__item
              a.footer__link(href="#") Контакты
    .footer__bottom
      .footer__corp
        .footer__corp-title © 2004-2019 «Подкова»
        .footer__corp-subtitle Дата последней выгрузки: 11-08-2019 <br> Всего наименований: 9992
      .footer__social
        h5.footer__social-title Будь в курсе
        ul.footer__social-list
          li.footer__social-item
            a.footer__social-link(href="#")
      .footer__copywrite
        h5.footer__copywrite-title Разработка сайта
        .footer__copywrite-logo
          <svg width="100" height="21" viewBox="0 0 100 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M20.3717 16.6413C21.4575 13.3392 22.4916 11.1488 23.5947 7.97941C23.9911 6.88423 24.3186 6.27027 24.2152 5.63971C24.0256 4.6275 23.3189 4.34541 22.6295 5.20828C22.5261 5.37421 22.4055 5.50696 22.3193 5.6563C21.9056 6.32005 21.5437 7.01698 21.0611 7.83007C19.6133 10.2361 18.5275 13.4055 17.7691 14.4841C16.7867 15.9775 15.4251 15.6954 15.0114 14.1854C13.9083 14.9653 12.5812 14.1356 12.6329 12.775C12.6674 11.5636 12.9948 10.0204 13.1672 8.77591C13.3913 7.24929 13.8394 3.36638 13.8049 1.27559C13.7704 1.01009 13.7532 0.82756 13.7015 0.628436C13.443 -0.0850898 12.6846 -0.168058 12.0469 0.263376C11.6849 0.495687 11.3747 1.01009 11.2196 1.67383C10.9438 2.63627 10.8576 3.68166 10.7198 4.72706C10.6336 5.42399 9.44432 11.6466 9.16855 12.1444C8.30678 13.837 5.27332 10.9995 3.01546 10.3523C0.516311 9.68856 -1.03489 10.9331 0.809315 11.9951C2.03304 12.7252 6.11786 15.795 7.13476 16.8404C7.39329 17.0893 7.445 17.1059 7.6863 17.3216C8.04824 17.6701 8.27231 17.9854 8.66872 18.3172C10.9438 20.3251 14.9597 21.2709 17.9932 19.7609C18.6136 19.4456 18.7515 19.3129 19.1824 18.8814C19.9063 18.1679 20.0614 17.5373 20.3717 16.6413Z" fill="#9D9D9D"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M63.4948 11.9122L64.4945 7.24938C65.9423 7.1996 68.338 6.85113 67.2866 9.90436C66.5283 12.0781 65.0977 11.9454 63.4948 11.9122ZM58.2897 20.4911H61.5817L62.9433 14.4012C64.753 14.1855 64.8047 15.3968 65.0805 16.7077L65.8044 20.4911H69.1481L68.338 16.6248C68.1484 15.6789 67.7003 14.9156 67.3383 14.534C67.1143 14.3183 66.9247 14.2187 66.6661 14.0196C67.2004 13.7043 67.6141 13.5715 68.0278 13.3226C68.6999 12.941 69.3377 12.41 69.9754 11.3314C70.751 10.0205 71.1474 8.01268 70.3718 6.53585C69.5962 5.00924 68.3035 4.71055 66.0284 4.71055C63.9429 4.71055 61.8747 4.67736 59.7892 4.71055L59.2893 7.1996H61.0646L58.2897 20.4911Z" fill="#9D9D9D"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M89.2104 20.491H92.1405L93.1746 16.0771C94.4328 15.9775 94.5362 16.6081 94.812 17.9024L95.3463 20.5076L98.3798 20.4744L97.9661 18.4832C97.518 16.6081 97.6904 16.2596 96.5528 15.0815L99.9999 10.2527L96.863 10.2859C96.0874 11.2981 95.3808 12.5592 94.6914 13.6046H93.7089C93.6572 12.7252 95.3291 6.46938 95.5704 4.72705H90.7272L90.2618 7.21609H92.0199C91.7441 9.34008 89.2449 19.4124 89.2104 20.491Z" fill="#9D9D9D"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M33.9015 16.3924H31.1783L30.8163 17.9688H28.6102L31.4713 4.72705L26.2144 4.79343L25.6112 7.23269H27.5243L24.5943 20.491L33.0052 20.4578" fill="#9D9D9D"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M73.1124 17.3546C72.9228 16.7074 73.0262 15.9939 73.2848 15.0481C73.5605 14.0359 74.3361 12.3433 75.646 12.7748C76.6802 13.0734 76.7319 16.0105 75.646 17.5371C74.8187 18.7485 73.5433 18.931 73.1124 17.3546ZM72.1989 20.7397C72.4575 20.8393 72.7505 20.9056 73.1469 20.9554C75.8529 21.2209 77.2145 20.2585 78.0418 19.2131C78.8001 18.2672 79.0414 17.5537 79.3517 16.4088C79.7998 14.849 80.0411 13.0568 79.0242 11.7128C77.9384 10.2857 75.7322 9.83768 73.6467 10.6674C72.0093 11.3311 70.8028 12.6752 70.1996 14.5005C69.8894 15.4463 69.6998 16.5415 69.8032 17.5869C69.9411 19.0803 70.6994 20.1921 72.1989 20.7397Z" fill="#9D9D9D"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M38.0206 15.3138C38.193 14.2186 38.7445 12.9741 39.7786 12.775C40.6059 12.609 40.9334 13.1898 40.7611 13.8701C40.6921 14.1688 40.5715 14.4675 40.2957 14.733C39.7786 15.2142 38.9686 15.347 38.0206 15.3138ZM35.5904 19.9102C37.3484 21.9512 40.7955 20.5574 42.3295 20.043L41.8297 17.9024C40.4681 18.3504 38.4687 19.3294 37.9344 17.3382C40.1923 17.5207 42.1571 16.8238 43.2775 14.9487C46.0696 10.2361 39.1237 8.54358 36.1592 12.3269C35.125 13.6378 34.608 15.0317 34.5735 16.857C34.5735 16.8404 34.4184 18.5329 35.5904 19.9102Z" fill="#9D9D9D"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M50.965 14.617C51.4131 16.3096 53.964 16.5419 54.2742 17.3218C54.8602 18.7488 52.137 18.9314 50.5686 17.72L49.5172 19.8606C50.3273 20.8562 52.8264 21.1217 54.4121 20.8064C56.3253 20.4248 57.4111 18.9314 57.4973 17.1061C57.549 16.2764 57.3594 15.8449 56.601 15.1812C55.9288 14.617 55.1532 14.4511 54.5328 14.0528C54.2053 13.8371 54.0846 13.7873 54.1191 13.3891C54.1708 12.659 54.7913 12.6922 55.7048 12.7253L55.5152 13.8205L57.6524 13.7873L59.0485 9.65552L56.4287 9.6887L56.2908 10.3027C54.9809 10.2197 53.4642 10.1865 52.43 10.9664C52.43 10.983 50.4135 12.5594 50.965 14.617Z" fill="#9D9D9D"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M81.6438 20.1424C81.9196 20.3913 82.3332 20.6237 82.9537 20.7896C83.6431 21.0053 84.4532 21.0385 85.2288 20.9223C85.7286 20.8726 86.0906 20.7564 86.418 20.6734C86.8317 20.5739 87.1764 20.4245 87.5901 20.2752C87.7624 20.1922 87.952 20.1424 88.1416 20.0263L87.6418 17.9023C86.6938 18.201 83.2984 19.8603 83.6604 16.077C83.8844 13.9032 84.5738 12.4596 87.0902 12.7583L86.9006 13.8037L89.0206 13.7705L90.4339 9.63867H87.8486L87.659 10.3688C84.6773 10.0701 83.0743 10.8832 81.8161 12.5094C80.782 13.8203 80.3167 15.6953 80.4545 17.6036C80.5235 18.566 80.851 19.4953 81.6438 20.1424Z" fill="#9D9D9D"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M44.191 20.4912H47.0693L48.7584 12.6922L50.3785 12.7254L51.1886 10.3027H49.3272L49.9649 7.23291H47.3968L46.4488 10.3027H44.9149L44.415 12.6922H45.7249L44.191 20.4912Z" fill="#9D9D9D"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M15.1318 12.9904C15.6833 11.8455 16.0798 10.1529 16.2176 9.10752C16.3555 8.09531 16.0453 7.66387 14.9422 7.49793C14.632 7.44815 14.3217 7.46475 14.046 7.68046C13.6323 7.97915 13.684 8.51015 13.5117 9.38961C13.2359 11.2149 12.6499 13.173 13.46 13.8035C14.339 14.4839 14.8388 13.6542 15.1318 12.9904Z" fill="#9D9D9D"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M17.4758 14.0527C18.3721 12.6257 19.4752 10.1366 18.9236 9.30695C18.4583 8.64321 17.1484 8.29474 16.7519 9.35673C16.4417 10.1864 16.1659 11.4807 15.9419 12.1942C15.6833 12.9741 15.3042 14.0195 15.6316 14.5505C16.2176 15.5296 17.0794 14.6501 17.4758 14.0527Z" fill="#9D9D9D"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M51.1025 8.85886H53.188L54.6875 4.72705H51.9987L51.1025 8.85886Z" fill="#9D9D9D"/>
          </svg>
